
#container {
    width: available;
    height: available;
    font-size: 14px;
    background-color: white;
    color: #333333;

}

#head{
    position: relative;
    clear: both;


}
#logo {
    float: left;
    position: relative;
    background-color: white;
    color: #181818;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    background: url(../image/logo.png) no-repeat;


}
#header{
    position: relative;
    margin: 0px 250px 0px 200px; 
    color: appworkspace;
    height: 50px;
    font-weight: bold;
    alignment-adjust: alphabetic;
    font-size: 20px;


}


#menu {

    height: 60px;
    position: relative;
    background-color: #3399ff;
    clear: both;
    color: #ffffff;
    font-weight: bold;


}
#member {
    float: right;
    position: relative;
    background-color: #ffffff;
    width: 150px;
    margin-right: 20px;
}

#body{
    clear: both;
    position: relative;
    height: available;


}
#bottom {
    clear: both;
    position: relative;

    background-color: #333333;
    color: whitesmoke;
    font-weight: bold;
    border-top: 1px solid #cccccc;
    height: 50px;
}

#left {
    position: relative;
    float: left;
    background-color: #cccccc;
    padding: 0px;
    width: 225px;   
    border: 1px solid #cccccc;
    color: #181818;
    margin-top: 0px;
    height: available;
}


#right {
    position: relative;
    float: right;
    background-color: #009966;
    padding: 5px;
    width: 200px;
    border: 1px solid #cccccc;
    color: #181818;
    margin-top: 0px;
    height: available;
}

#content {
    position: relative;
    background-color: #0066ff;
    padding: 5px;
    color: #181818;
    height: available;
    margin: 0px 210px 0px 225px;
}

#profileContent{
    position: relative;
    background-color: #ffffff;
    padding: 5px;
    color: #181818;

}
#profileMenu{
    background: #3399ff;
    height: 75px;
    text-align: left;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bolder;

}
/*.left_content {

    background-color: #ffffff;
    padding: 5px;
    margin-left: 170px;
}*/

.home_content{
    background: url(../image/home-parallax-background.jpg) no-repeat;
    width: available;
    background-size: 100%;
    height: 680px;
    font-weight: bolder;
    font-size: 16px;
    color: whitesmoke;

}




.homeButton{
    width: available;
    background-size: 100%;
    height: 400px;
    font-weight: bolder;
    font-size: 16px;
    color: whitesmoke;
    background-color: seagreen;
    content: initial;
}
.right_content {
    background-color: #ffffff;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    border: 1px solid #cccccc;
}

#top a:link, #top a:visited {
    color: whitesmoke;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: #009966;
    font-weight : bold;
    text-decoration : none;
}


